.main {
  padding: 10px;
  margin: auto auto;
}

.result {
    display: grid;
    align-items: center;
    justify-content: center;
}

.result > p {
    word-break:break-all;
}

.main-input {
    display: grid;
    width: 100%;
    max-width: 400px;
    grid-template-columns: 1fr 60px;
    margin: 0 auto;
    margin-top: 20px;
    align-items: center;
    justify-content: center;
}

.main-info {
    margin: 0 auto;
    max-width: 600px;
    text-align: justify;
}

.link-result {
    display: grid;
    max-width: 580px;
    margin: 20px auto;
    border: solid 1px white;
    padding: 10px;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
}

.placeHolder {
   display: grid;
   align-items: center;
   justify-content: center;
}

.placeHolder > img {
    border-radius: 10px;
    margin: 0 auto;
}

.button {
    margin: 20px auto 10px auto;
    text-align: center;
    cursor: pointer;
    color: antiquewhite;
}